@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Kumbh Sans", sans-serif;
  }
}

@layer components {
  .line {
    @apply h-1 w-6 my-[2px] rounded-full bg-neutral-700 transition ease-linear transform duration-100;
  }
  .nav-link {
    @apply after:absolute after:w-0 after:h-1 after:bottom-0 after:bg-primary after:left-0
      after:rounded-sm after:transition-all after:duration-300 hover:after:w-full;
  }
  .dropbox_animated--mobile {
    animation: enterDropboxMobile 0.3s ease-out;
  }

  .dropbox_animated--desktop {
    animation: enterDropboxDesktop 0.3s ease-out;
  }

  @keyframes enterDropboxMobile {
    from {
      transform: translateX(50%) scale(0.9) translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(50%) scale(1) translateY(0);
      opacity: 1;
    }
  }
  @keyframes enterDropboxDesktop {
    from {
      transform: scale(0.9) translateY(-20px);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  .fade-in img {
    animation: fadeIn 0.5s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .cbutton {
    @apply relative p-2 text-primary bg-transparent transition-colors duration-300 rounded-md
    hover:bg-primary hover:text-primary-pale 
    focus:ring-2 focus:outline-none focus:ring-primary/70 active:bg-transparent active:text-primary;
  }

  .click--effect {
    @apply active:animate-[anim-effect-boris_0.3s_forwards];
  }

  @keyframes anim-effect-boris {
    0% {
      transform: scale3d(0.3, 0.3, 1);
    }
    25%,
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale3d(1.2, 1.2, 1);
    }
  }
}
